.line {
  width: 150%;
  height: 0.8px;
  position: relative;
  left: -10%;
  /* margin-bottom: 20px; */
}

.title {
  font-family: "thinItalic";
  font-size: 20px;
  /* margin-bottom: 10px; */
}
.modalContainer {
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: rgba(52, 52, 52, 0.5);
}
.modalTop {
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.modalText {
  /* font-weight: 600; */
  font-family: "regular";
  font-size: 14px;
  margin-left: 5px;
}
.modalContent {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  width: 300px;
  height: 400px;
  border: 1px solid #1f1f1f;
}
.modalTextSelect {
  font-family: "light";
  /* font-weight: 500; */
  font-size: 14px;
  color: #8c9199;
  /* text-transform: capitalize; */
}
.textInputTag {
  flex: 1;
  /* margin-left: 10px; */
  color: #8c9199cb;
  /* text-transform: capitalize; */
  font-size: 12px;
  font-family: "light";
}
.inputContainerTag {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  border: none;
  /* width: 50%; */
  padding: 18px 10px;
  border-radius: 8px;
  margin: 3px 0px 10px;
  border: 1px solid black;
}

.labelInputTag {
  font-family: "bold";
  font-size: 14px;
  color: #404040;
  /* text-transform: capitalize; */
}

.containerTag {
  border: 1.5px solid #ffb703;
  border-radius: 4px;
  padding: 4px 10px;
  margin: -6px 2px;
}
.textTag {
  font-size: 12px;
  font-family: "medium";
  text-transform: capitalize;
}

.textInput {
  flex: 1;
  font-family: "regular";
  margin-left: 10px;
  color: #8c9199cb;
  /* text-transform: capitalize; */
}
.inputContainer {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  border: none;
  /* width: 50%; */
  padding: 11px 10px 11px 0px;
  border-radius: 8px;
  margin: 3px 0px 10px;
}
.placeholder {
  flex: 1;
  margin-left: 10px;
  color: #8c9199cb;
  /* text-transform: capitalize; */
  font-size: 12px;
  font-family: "regular";
}
.labelInput {
  font-family: "regular";
  font-size: 14px;
  color: #404040;
  /* text-transform: capitalize; */
}
.titleTag {
  margin-left: 5px;
  font-family: "bold";
  font-size: 14px;
}
.line {
  width: 300px;
  height: 0.3px;
  position: relative;
  left: -7.7%;
  bottom: 10%;
}
