.container {
  flex: 1;
  padding: 20px;
}
.content {
  flex: 1;
}
.scroll {
  flex: 1;
  margin-bottom: 20px;
}

.continue {
  text-align: center;
  width: 100%;
  padding: 20px;
  height: 65px;
  /* background-color: #ffa424; */
  border: 1px solid #1f1f1f;
  border-radius: 8px;
}

.textContinue {
  text-align: center;
  font-family: 'bold';
  /* font-weight: 700; */
  color: #1f1f1f;
  font-size: 18px;
}

.textContainer {
  margin-top: 30px;
  justify-content: center;
}
.title {
  font-family: "regular";
  margin: 15% 10px 10%;
  text-align: center;
  font-size: 32px;
}

.titleAlert {
  text-align: center;
  font-family: 'regular';
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 3px;
}
.subtitleAlert {
  font-family: 'bold';
  text-align: center;
  font-size: 14px;
  margin-left: 5px;
  color: #1f1f1f;

}
