.container {
  flex: 1;
  padding: 5px 20px 20px;
}
.content {
  flex: 1;
}

.inputContainer {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: none;
  padding: 11px 10px 11px 0px;
  border-radius: 8px;
  margin: 3px 0px 10px;
  border: 1px solid #1f1f1f;
}
.labelInput {
  font-family: "bold";
  font-size: 14px;
  color: #1f1f1f;
}
.textInput {
  flex: 1;
  font-family: "medium";
  margin-left: 10px;
  color: #1f1f1f;
}
.errorInput {
  font-family: "bold";
  color: red;
  font-size: 12px;
  position: relative;
  top: -10px;
}
.errorInputMain {
  font-family: "bold";
  color: red;
  font-size: 14px;
  position: relative;
  top: -10px;
}
.placeholder {
  flex: 1;
  margin-left: 10px;
  color: #1f1f1f;
  font-size: 12px;
  font-family: "medium";
}
.security {
  position: relative;
  right: 27px;
}


/* Buttons */
.continue {
  flex: 1;
  text-align: center;
  width: 100%;
  padding: 20px;
  height: 60px;
  background-color: #ffa424;
  border-radius: 12px;
  border: 1px solid #1f1f1f;
}

.textContinue {
  text-align: center;
  font-family: 'bold';
  /* font-weight: 700; */
  color: #1f1f1f;
  font-size: 18px;
}


.extras {
  flex-direction: row;
  justify-content: center;
  padding: 15px 10px;
  border: 1px solid #efeded;
  border-radius: 16px;
}

.title {
  font-family: "regular";
  margin: 15% 10px 10%;
  text-align: center;
  font-size: 32px;
  color: #1f1f1f;
}
.enterCode {
  margin-bottom: 15px;
}
.subtitle,
.timer,
.code {
  /* font-weight: 400; */
  font-family: 'light';
  font-size: 16px;
  text-align: center;
  color: #404040;
}
.subtitle {
  margin-bottom: 40px;
}
.code,
.textRules {
  margin: 0px 0px 40px;
}
.textRules {
  /* font-weight: 400; */
  font-family: 'regular';
  font-size: 14px;
  color: #9d9d9d;
}
.emailText,
.timer {
  font-family: 'medium';
  color: #1f1f1f;
  /* font-weight: 700; */
}
