.scroll {
  flex: 1;
}
.container {
  flex: 1;
  padding: 20px;
}
.content {

}
.panel {
  margin-top: 10px;
}
.title {
  font-family: "medium";
  margin: 10% 10px 0%;
  text-align: center;
  font-size: 32px;
  color: #1f1f1f;
}
.name {
  font-family: "light";
  margin: 0 10px 10%;
  text-align: center;
  font-size: 32px;
  color: #1f1f1f;
}
.inputContainer {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: none;
  padding: 11px 10px 11px 0px;
  border-radius: 8px;
  margin: 3px 0px 10px;
  border: 1px solid #1f1f1f;
}
.labelInput {
  font-family: "bold";
  font-size: 14px;
  color: #1f1f1f;
}
.textInput {
  flex: 1;
  font-family: "regular";
  margin-left: 14px;
  color: #1f1f1f;
}
.errorInput {
  font-family: "bold";
  color: red;
  font-size: 12px;
  position: relative;
  top: -10px;
}
.errorInputMain {
  font-family: "bold";
  color: red;
  font-size: 14px;
  position: relative;
  top: -10px;
}
.placeholder {
  flex: 1;
  margin-left: 10px;
  color: #1f1f1f;
  font-size: 14px;
  font-family: "regular";
}

.login {
  flex: 1;
  text-align: center;
  width: 100%;
  /* justify-content: center; */
  align-items: center;
  padding: 20px;
  /* padding-top: -20px; */
  height: 65px;
  border-radius: 12px;
  border: 1px solid #1f1f1f;
}

.textLogin {
  /* text-align: center; */
  font-family: "bold";
  font-size: 18px;
}

.signup {
  flex-direction: row;
  justify-content: center;
}
.dont {
  font-family: "light";
  color: #1f1f1f;
  font-size: 15px;
}
.signupBtn {
  font-family: "bold";
  margin-left: 5px;
  color: #1f1f1f;
  font-size: 15px;
}
.forgot {
  text-align: center;
  font-family: "bold";
  color: #1f1f1f;
  font-size: 15px;
}
.options {
  flex-direction: row;
  justify-content: flex-start;
  padding: 5px 0 35px;
}

/* password */
.security {
  position: relative;
  right: 27px;
}