.modalContainer {
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: rgba(52, 52, 52, 0.5);
}
.modalTop {
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.modalText {
  font-family: "regular";
  font-size: 14px;
  margin-left: 5px;
}
.modalContent {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  width: 300px;
  height: 270px;
  border: 1px solid #1f1f1f;
}
