.container {
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.columnGrid,
.columnList {
  /* align-items: center; */
  border: 0.5px solid #5e2129;
}
.columnGrid {
  height: 110px;

  width: 33%;
  margin-bottom: 1%;
  border-radius: 2px;
  position: relative;
}
.columnList {
  height: 140px;

  padding-top: 10px;
  padding-bottom: 20px;
  /* align-items: center; */
  margin-bottom: 5%;
  width: 100%;
  border-radius: 8px;
  flex-direction: row;
}
.options {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  /* background-color: white; */
  right: 0%;
  margin-right: -5px;
  margin-top: 5px;
}
.modal {
  background-color: white;
  height: 100px;
  width: 80px;
  position: relative;
  right: 50px;
  border-radius: 4px;
  padding: 5px;
  margin-top: 7px;
  border: 0.3px solid #1f1f1f;
}
.text {
    font-size: 13px;
    font-family: 'lightItalic';
    padding: 5px 0;
}