.container {
  flex: 1;
  padding: 0px 20px 20px;
}
.scroll {
  flex: 1;
}
.content {
  flex: 1;
}
.title {
  font-family: "name";
  margin: 15% 10px 0%;
  text-align: center;
  font-size: 42px;
  color: #fb8500;
}
.inputContainer {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  border: none;
  padding: 11px 10px 11px 0px;
  border-radius: 8px;
  margin: 3px 0px 10px;
}
.labelInput {
  font-family: "regular";
  font-size: 14px;
  color: #404040;
}
.textInput {
  flex: 1;
  font-family: "light";
  margin-left: 10px;
  color: #fb8500;
}
.errorInput {
  font-family: "light";
  color: red;
  font-size: 12px;
  position: relative;
  top: -10px;
}
.errorInputMain {
  font-family: "light";
  color: red;
  font-size: 14px;
  position: relative;
  top: -10px;
}
.placeholder {
  flex: 1;
  margin-left: 10px;
  color: #8c9199cb;
  font-size: 12px;
  font-family: "light";
}
.security {
  position: relative;
  right: 27px;
}

.continue {
  text-align: center;
  width: 100%;
  padding: 20px;
  height: 60px;
  background-color: #ffa424;
  border-radius: 16px;
}

.textContinue {
  text-align: center;
  font-family: "medium";
  color: white;
  font-size: 14px;
}
