.main {
    flex: 1;
    padding: 40px 20px 20px;
    position: relative;
    z-index: 100;
  }
  .container {
    flex: 1;
    padding: 40px 20px 20px;
  }
  
  .title {
    font-family: "thinItalic";
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  /*  */
  
  .textInputP {
    font-family: "regular";
    margin-left: 10px;
    color: #fb8500;
  }
  .textInput {
    flex: 1;
    font-family: "regular";
    margin-left: 10px;
    color: #fb8500;
  }
  .errorInputDescription {
    position: absolute;
    left: 0;
    bottom: 3;
    font-family: "medium";
    color: red;
    font-size: 12;
  }
  .errorInputP {
    position: absolute;
    left: 0;
    bottom: -5;
    font-family: "medium";
    color: red;
    font-size: 12;
  }
  .inputContainer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    border: 1px solid #404040;
    /* width: 50%; */
    padding: 11px 10px 11px 0px;
    border-radius: 8px;
    margin: 3px 0px 18px;
  }
  .inputContainerP {
    flex: 1;
    width: 81%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    border: 1px solid #404040;
    /* width: 50%; */
    padding: 11px 10px 11px 0px;
    border-radius: 8px;
    margin: 3px 0px 10px;
  }
  .placeholder {
    flex: 1;
    margin-left: 10px;
    color: #8c9199cb;
    font-size: 12px;
    font-family: "regular";
  }
  .labelInput {
    font-family: "bold";
    font-size: 14px;
    color: #404040;
  }
  
  /*  */
  .textInputBot {
    flex: 1;
    margin-left: 10px;
    color: #1f1f1f;
    font-family: "regular";
  }
  .inputContainerBot {
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    background-color: #fafafa;
    border: none;
    width: 150px;
    padding: 11px 0px 11px 0px;
    border-radius: 8px;
    margin: 3px 0px 18px;
    border: 1px solid #404040;

  }
  .placeholderBot {
    flex: 1;
    margin-left: 10px;
    color: #8c9199cb;
    font-size: 11px;
    font-family: "regular";
  }
  .inputContainerDescription {
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    background-color: #fafafa;
    border: none;
    /* width: 50%; */
    padding: 11px 10px 11px 0px;
    border-radius: 8px;
    margin: 3px 0px 18px;
    border: 1px solid #404040;

  }
  .placeholderDescription {
    /* flex: 1; */
    margin-left: 10px;
    color: #1f1f1f;
    font-size: 12px;
    font-family: "regular";
    text-align: justify;
  }
  .textInputDescription {
    /* flex: 1; */
    width: 100%;
    padding: 0 10px;
    color: #1f1f1f;
    font-family: "regular";
    text-align: justify;
    font-size: 12px;
  }
  .labelInputBot {
    font-family: "regular";
    font-size: 14px;
    color: #404040;
  }
  .modalMain {
    flex: 1;
    background-color: white;
    width: 100%;
    height: 100%;
  }
  .modalContent {
    flex: 1;
    background-color: white;
    padding: 20px;
    width: 100%;
    height: 100%;
  }
  .modalBott {
    margin-top: 37%;
    flex: 0.5;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
  .modalTop {
    flex: 1.3;
  }
  .modalMid {
    flex: 1.7;
    /* margin-top: 100px; */
  }
  