.main {
  flex: 1;
  padding: 40px 20px 20px;
}
.container {
  flex: 1;
  padding: 40px 20px 20px;
}

.title {
  font-family: "thinItalic";
  font-size: 20px;
  margin-bottom: 10px;
}

/*  */

.textInputP {
  flex: 1;
  font-family: "regular";
  margin-left: 12px;
  color: #1f1f1f;
}
.textInput {
  flex: 1;
  font-family: "regular";
  margin-left: 12px;
  color: #1f1f1f;
}
.errorInput {
  position: absolute;
  left: 0;
  bottom: 3;
  font-family: "medium";
  color: red;
  font-size: 12;
}
.errorInputP {
  position: absolute;
  left: 0;
  bottom: -5;
  font-family: "medium";
  color: red;
  font-size: 12;
}
.inputContainer {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  border: 1px solid #404040;
  /* width: 50%; */
  padding: 11px 10px 11px 0px;
  border-radius: 8px;
  margin: 3px 0px 18px;
}
.inputContainerP {
  flex: 1;
  width: 81%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  border: 1px solid #404040;
  /* width: 50%; */
  padding: 11px 10px 11px 0px;
  border-radius: 8px;
  margin: 3px 0px 10px;
}
.placeholder {
  flex: 1;
  margin-left: 12px;
  color: #1f1f1f;
  font-size: 12px;
  font-family: "regular";
}
.labelInput {
  font-family: "bold";
  font-size: 14px;
  color: #404040;
}

/*  */
.textInputBot {
  flex: 1;
  margin-left: 10px;
  color: #fb8500;
  font-family: "light";
}
.inputContainerBot {
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  background-color: #fafafa;
  border: none;
  width: 150px;
  padding: 11px 0px 11px 0px;
  border-radius: 8px;
  margin: 3px 0px 10px;
}
.placeholderBot {
  flex: 1;
  margin-left: 10px;
  color: #8c9199cb;
  font-size: 11px;
  font-family: "light";
}
.inputContainerDescription {
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  background-color: #fafafa;
  border: none;
  /* width: 50%; */
  padding: 11px 10px 11px 0px;
  border-radius: 8px;
  margin: 3px 0px 10px;
}
.placeholderDescription {
  /* flex: 1; */
  margin-left: 10px;
  color: #8c9199cb;
  font-size: 12px;
  font-family: "light";
  text-align: justify;
}
.textInputDescription {
  /* flex: 1; */
  width: 100%;
  padding: 0 10px;
  color: #fb8500;
  font-family: "light";
  text-align: justify;
  font-size: 12px;
}
.labelInputBot {
  font-family: "regular";
  font-size: 14px;
  color: #404040;
}
.modalMain {
  flex: 1;
  background-color: white;
  width: 100%;
  height: 100%;
}
.modalContent {
  flex: 1;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  width: 100%;
  height: 100%;
}
.modalBott {
  margin-top: 41%;
  flex: 0.5;
  align-self: flex-end;
  justify-self: flex-end;
}
.modalTop {
  flex: 1.3;
}
.modalMid {
  flex: 1.7;
}

.modalContainerCountries {
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: rgba(52, 52, 52, 0.5);
}
.modalTopCountries {
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.modalTextCountries {
  /* font-weight: 600; */
  font-family: "regular";
  font-size: 14px;
  margin-left: 5px;
}
.modalContentCountries {
  background-color: white;
  border-radius: 12px;
  /* padding: 5px; */
  border: 1px solid #1f1f1f;
  width: 220px;
  height: 400px;
}
.modalTextSelectCountries {
  font-family: "light";
  /* font-weight: 500; */
  font-size: 14px;
  color: #8c9199;
  /* text-transform: capitalize; */
}